@charset "UTF-8";
/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

$col-1:#254b62;
$col-2:#6692aa;

/*===================================================

HAA Standard Stylesheet 

Row 1    
 
=====================================================*/
  
     

.desk-show {
  display: auto; }

.mobile-show {
  display: none; }

.hide-on-sitelink{
  display:block;
}

.sitelink .hide-on-sitelink{
  display:none;
}


.vert-center-outer{
  display:table;
}

.vert-center-inner{
  display:table-cell;
  vertical-align:middle;
}


body{
  background:url('../../assets/images/bg-tint.jpg') no-repeat center center fixed;
  color:#fff;
  font-size:1rem;
  background-size:cover;

}

h1, h2, h3, h4, h5, h6{
  margin:0;

}

.vert-center{
 /* display:table-cell;
  vertical-align:middle;*/
}

.bot-align{
  position:absolute;
  bottom:0;
  width:100%;
}

.r1 h1,.r1 h2,.r1 h3,.r1 h4,.r1 h5,.r1 h6{
  line-height:1.5rem;
}

.r1-bg-wrap{
  
} 

.r1{
  padding:25px 0;
  text-shadow:2px 2px 3px rgba(0,0,0,0.75);
  font-family: "Roboto Condensed", sans-serif;
}

.r1 .fa-phone{
  margin-left: -2.2rem;
  color:#2199e8;
}

.r1 .r1-logo{
  width:100%;
  margin:0 auto;
  display:block;
  
}

.r1 a {
  color:#fff;
 
}

.r1 h2{
  font-size:2rem;
  font-weight:700;
  line-height:120%;
}

.r1 h2:nth-of-type(2){
  display:inline-block;
}

.r1 h3{
 text-align:center;
 font-size:1.5rem;
 font-weight:700;
}

.r1 h4{
  font-size:2rem;
  margin-top:25px;
  text-align:center;
display:none;

}

.r1-mid-2 {
  h5{
font-size:3.3rem;
text-align:center;
line-height:140%;
font-weight:700;
} 
h6{
 text-align: center;
 font-size:1.2rem; 
}
}

.r1{

  .addr-wrap{

    text-align:center;

    img{
      display:none;
    }

    .mapLinks{
      display:none;
    }

    p{
      margin-bottom:0;
    }
  }
}

.r1 h4 a{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,3188e0+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(49,136,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(49,136,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(49,136,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#3188e0',GradientType=0 ); /* IE6-9 */
  font-size:1.8rem;
  padding:1rem;
  border-radius:5px;
color:#fff;
box-shadow:2px 2px 4px #000;
box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75), inset 4px 4px 4px rgba(255, 255, 255, .4), inset -4px -4px 4px rgba(0, 0, 0, .4);
}

.r1 h4 a:hover{
  font-size:2.0rem;
  background-color:#fafafa;
  transition: all 0.25s ease;
}

.r1-c1{

}

.r1-c2{

}

.r1-c3{
text-align:center;
position:relative;
}

.r1-c4{

}

.r1-c5{

}

.r1-c6{

} 

/*===================================================

Row 2

=====================================================*/
.grey-bg{
  background-color:#dadada;
  background-image:url('../../assets/images/hero-bg.jpg');
  background-size:cover;
}

.r2-wrap-mobile{
  background-color:#dadada;
  margin:20px 0;
}

.r2{
  position:relative;
padding:1rem 0 .5rem 0;

background-size:cover;
background-repeat:no-repeat;
background-image:url('../../assets/images/firm-web.png');
  background-size: 82% 95%;
  background-position: left -30px bottom 0px;
  background-repeat:no-repeat;
} 

 

.r2 .inner-grey{
  background-color:#000;
  background-size:100% 200%;
  background-position: left 0px bottom 0px;
 
}

.r2-c1{
  position:relative;
  text-align:center;
}



.r2-c1 .bot-align #haaHD{
  text-align:right;
  font-size:2rem;
  color:#fff;

}

.r2 .bot-align {
  text-align:right;
  right:-900px;
  width:9999rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.79+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.79) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.79) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.79) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#c9000000',GradientType=1 ); /* IE6-9 */
padding:0 15px;
bottom:20px;
}

.r2-c2{
  display:table;
  color:#000;
 
  text-align:left;
  position:relative;
}

.r2-c2 .widen{
 
}



.r2-c2 h2{
  font-size:2.0rem;
  margin-bottom:0px;
  color:#fff;
}

.r2 h3{
  font-style:initial;
  font-size:2.2rem;
  text-shadow:2px 2px 3px rgba(0,0,0,0.75);
}

.r2 h3:nth-of-type(2){
  
}

.r2 h4{
  font-size:1.85rem;
  line-height:100%;
 margin-top:.75rem;
}

.r2 h5{
  font-size:1rem;
  margin-top:10px;
}

.r2 h1, .r2 h2, .r2 h3, .r2 h4{
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}

.r2 h1{
  font-size:4.65rem;
  font-weight:700;
  line-height:100%;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom:1rem;
  color:#6692aa;
}

.r2-c3{

}

.r2-c4{

}

.r2-c5{

}

.r2-c6{

}

.cd-submit {
    width: 100%;
    text-align: center;
    background: #254b62;
    background: -webkit-linear-gradient(top, #254b62 0%, #183a4e 100%);
    background: linear-gradient(to bottom, #254b62 0%, #183a4e 100%);
    border: 2px solid #fff;
    font-size: 1.5rem;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    color: #fff;
    margin-top:-.65rem;
   
}

.btnLine {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding:1rem;
    border:0;
    margin-left:0;
    margin:0 auto;
    color:#fff !important;  

    .blue{
      color:#fff !important;  
    } 
}

.btnLine:before,.btnLine:after{
  display:none;
}

  

#LP-Form{

  p{
  margin-bottom:.5rem;
}

textarea{
    height:50px;
  } 


     textarea,
input[type] {
     margin-bottom: .0rem;
      
}  

}

/*===================================================

Row 3

=====================================================*/

.r3{
  padding:0px 0;
}

.r3 .align-middle{
  -webkit-align-self:auto;
    -ms-flex-item-align: inherit;
    align-self: inherit;
}

.r3 .row{
  background-color:#fff;
}

.r3 h2{
  font-size:3.9rem;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-style:italic;
  font-weight:700;
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,1);
}

.r3-c1{

}

.r3-c1 h2{
  text-align:center;
  color:#fff;
}

.r3-c2{

}

.r3 .r3-c2 h2{
  font-size:3rem;
  padding:20px 0px 5px 0px;
}

.r3-c2 ul li{
  font-size:1.2rem;
  margin-bottom:4px;
  font-style:italic;
  text-shadow:1px 1px 2px #000;
  line-height:150%;
}

.info-region{
  background-color:#fff;
  color:#000;
}

.info-region h3{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight:700;
  font-size:1.2rem;
  padding-bottom:.5rem;
}

.info-region p{
  line-height:1.2;
  font-size:.9rem;
}

.info-region .row{
  border-bottom:2px solid #555;

  .row{
    border:none;
  }
}

.info-region .cta{
  padding-right:0;
  background-color:#fff;
  position:relative;
}

.info-region .cta .bot-align{
  bottom:8px;
}

.info-region .cta a{
  display:block;
  margin:0 auto;
  width:66%;
  font-size:.9rem;
  background-color: $col-2;
  color:#fff;
  padding:8px 0px;
  border-radius:2px;
  text-align:center;
  transition: all 0.5s ease;
}

.info-region .cta a:hover{
  background-color:$col-1;
}

.blue-bg{
  background-color:$col-2;
  width:4%;
}

.main-blue-bg{
  background-color:#2199e8;
  color:#fff;
  text-align:center;
  
}

.r3-c2 h2{
  text-align:left;
}

.r3-sl-cta h4 a{
  float:left;
  background-color:#2199e8;
  padding:10px;
  color:#fff;
  margin-bottom:10px;
  border-radius:5px;
  transition: all 0.5s ease;
}

.info-region{

  .qs{
    padding-top:1rem;
  }
}

.info-region .r3-sl-cta a:hover{
  background-color:#004bcc;

}

.info-region .columns .column{
  padding:0;
}

.info-region .sl-cta a{
  background-color:#fff;
  padding:2px 5px;
border-radius:3px;
  font-weight:700;
  text-transform:uppercase;
}

.info-region .small-half{
  width:4%;
}

.sl-cta h5{
  margin-top:0px;
  text-align:left;
  padding:3px 0px;
}

.sl-cta{
  padding:5px 0;
}

.sl-cta-inner{
  display:table;
}

.info-region .row .r3-sl-cta{
  border:none;
}

.ir-sl .qs{
 background-color:#fff;

}

.sitelink .r3-c2 ul li{
  font-size:1.5rem;
}

.r3-c3{

}

.r3-c4{

}

.r3-c5{

}

.r3-c6{

}


#wyn-reveal-1,#wyn-reveal-2,#wyn-reveal-3,#wyn-reveal-4{
  display:none;
}

.testimonials{
      text-shadow: 2px 2px 3px black;

      p{
        line-height:120%;
        font-size:.9rem;
      }
}

/*===================================================

Row 4

=====================================================*/

.r4{

}

.r4 h3, .r4 h2{
  font-size:2rem;
  font-weight:700;
}

.r4 h2{
  margin-bottom:-6px;
}

.r4 h3{
  margin-bottom:10px;
} 

.r4 h4{
  text-align:center;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-size:2rem;
  font-weight:700;
  font-style:italic;
  margin-bottom:5px;
}

.r4-map{
  margin-bottom:10px;
}

.r4-bg-wrap{
  background-color:#fff;
  padding:20px 0;
  margin:1rem 0 0 0;
}

.r4-red{
  border-top:5px solid #bd041c;
  padding-top:10px;
}

.r4-c1{
  text-align:center;
}

.r4-c1 a{
  color:#fff;
  letter-spacing:1px;
}

.r4-c2{
  border-right:2px solid #fff;
  border-left:2px solid #fff;
}

.r4-c3{

}

.r4-c4{

}

.r4-c5{

}

.r4-c6{

}

#logoWrapper ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


/*===================================================

Row 5

=====================================================*/

.r5{
  color:#000;



  h3{
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color:#6692aa;

  }
}

.r5-bg-wrap{
  background-color:#fcfcfc;
}

.r5 .columns{
 
  padding:20px 15px;
}

.r5-c1{ 
 
}

.r5 p {
  margin-bottom:0;

}

.r5-c1 h4{
  text-align:center;
  font-family:TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-style:italic;
  font-weight:700;
}

.r5-c2{

}

.r5-c3{

}

.r5-c4{

}

.r5-c5{

}

.r5-c6{

}

.explain-cta{

  .ex-cta-in{
    text-align:center;
  }

  h3{

    font-size:3.5rem;
    text-align:center;

    a{
      
      color:$col-1;
    }
  }
}

/*===================================================

Row 6

=====================================================*/

.r6{ 
  padding-top:20px;
  padding-bottom:20px;

  a{
    color:#fff;
  }

  .columns{
    position:relative;
  }
}

.r6-bg-wrap{
  background-color:$col-1;
}

.r6-logo{
  margin-bottom:20px;
}

.r6 h3{
  font-size:1.5rem;
}

.r6-c1{

}

.r6-c2{

}

.r6-c3{

}

.r6-c4{

}

.r6-c5{

}

.r6-c6{

}

.r6 .mapLinks {
    position: absolute;
    bottom: -12px;
    padding-right: 2rem;
    width: 100%;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.footer{
  text-shadow:2px 2px 3px rgba(0,0,0,0.75);
}

/*===================================================

Row 7

=====================================================*/

.r7{

}

.r7-c1{

}

.r7-c2{

}

.r7-c3{

}

.r7-c4{

}

.r7-c5{

}

.r7-c6{

}

.cf{
  color:#000;
}

.cf textarea{
  width:100%;
  padding:.5rem;
  height:150px;
  margin:0 0 1rem;
}

.cf input[type=submit]{
margin-left:.9375rem;
}

.cf h2{
  margin-left:.9375rem;
}

/*===================================================

HAA Desktop Stuff

=====================================================*/

@media (min-width:1024px){

.hero-text{
  font-size:5.1rem;
  color:#183a4e;
  font-weight:700;
  font-family: "Roboto Condensed", sans-serif;
   line-height:100%;
}

.small-hero{
      font-size: 2.6rem;
    font-weight: 700;
    color: #183a4e;
    font-family: "Roboto Condensed", sans-serif;
}

.r3{
  padding-bottom:1rem;
}

.r5{

  p{
    font-size:.95rem;
    line-height:130%;
  }
}

}

/*===================================================

HAA Responsive Goodness

Row 1

=====================================================*/

@media (max-width:1023px) {

  html{
    margin-top:0 !important;
  }
  body{
    background-color:#555;
     background:none;
     background-size:cover; 
  }

  .desk-show{
    display:none;
  }

  .mobile-show{
    display:block;
  }

  .r1 .fa-phone{
    margin-left: 0rem;

  }

  .r1-mid-2 h5{
font-size:1.5rem;
} 

  .r1 {
    text-align:center;
    padding-bottom:0px;
    padding-top:0;
    text-shadow:none;
    color:$col-1;

    .addr-wrap{

p{
  font-size:.8rem;
  display:none;
}
    }

    a{
      color:$col-2;
    }
  }

  .r1 h2{
    font-size:2.5rem;
  }

  .r1 h3 a{
    margin-bottom:10px;
  }

  .r1 h3{
    font-size:1rem;
  }

  .r1 h4{
    margin-top:15px;
    width:100%;
    line-height:130%;
  }

  .email-btn{
    margin-bottom:0px;
  }

  .r1 h4 a{

}

  .r1-c1 {

  }

  .r1-c2 {
    padding:0;
    
  }

  .r1-c3 {
    text-align:center;
  }

  .r1 a {
    font-size:2rem;
    margin:15px 0;
  }

  .r1-c3 h3{
    margin:10px 0px;
  }

  .r1-c3 h2{
    font-size:1.5rem;
    margin-bottom:8px;
  }

  .r1-c4 {

  }

  .r1-c5 {

  }

  .r1-c6 {

  }

  .hero-text{
  font-size:1.8rem;
  color:#183a4e;
  font-weight:700;
  font-family: "Roboto Condensed", sans-serif;
}

  /*===================================================

  Row 2 Responsive

  =====================================================*/
  .r2 {
background-size:90%;
background-position:center bottom;
padding:0rem 0 .25rem 0;
margin-top:0rem;
  }

  .r2 h4{
    position:relative;
    font-size:.7rem;
    bottom:0;
    margin-top:.25rem;
   text-shadow: 1px 1px 2px #000;
  }

  .r2-c1 {

  }


  .r2 h3:nth-of-type(2){
    margin-left:0;
    margin-top:0;
  }
 
  .r2-wrap-mobile{
    margin:0;
  }

  .r2-c1 h1 {
text-align:center;
  }

  .r2-c2 h2{
    font-size:2.5rem;
    margin:10px 0;
  }

  .r2-c2{
    width:100%;
  }

  .r2 h3{
    font-size:2rem;
  }

  .r2-c2{
text-align:center;
    padding:15px 20px;
    height:inherit;
  }

  .grey-grad{
    padding:0px;
    background-image:url('assets/images/hero-bg.jpg');
  background-size:cover;

  }

  .grey-grad h1{
    margin-bottom:0;
    font-size:1.4rem;
  }

  .r2-c3 {

  }

  .r2-c4 {

  }

  .r2-c5 {

  }

  .r2-c6 {

  }

  /*===================================================

  Row 3 Responsive

  =====================================================*/
  .r3 {
    padding-top:0;
    background-color:#313131;
  }

  .r3 .align-middle{
  -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

  .info-region .cta .bot-align{
    position:relative;
    bottom:0;
  }

  .info-region .cta{
    
  }

  .info-region .cta a{
    width:90%;
    display:flex;
    font-size:.8rem;
    padding:8px 1px;
  }

  .info-region h3{
    font-size:1.2rem;
    margin:10px 0;
  }

  .r3 h2{
    font-size:1.7rem;
    color:$col-2;
    text-shadow:none;
  }

  .r3-c1 {

  }

  .r3-r1 h5{
    font-size:.9rem;
  }

  .r3-r1 .sl-cta{
    padding:10px 0;
  }

  .r3-c2 {
    text-align:center;
  }

  .r3-c2 ul{
    list-style-position:inside;
    margin:0;
  }

  .r3 .r3-c2 h2{
    font-size:2.2rem;
    padding-top:5px;
  }

  .r3-c2 ul li{
    margin-bottom:8px;
    font-size:1.1rem;
    text-shadow:none;
    color:$col-1;
  }

  .r3-c2 h2{
    text-align:center;
  }

  .info-region .sl-cta a {

  }

  .info-region{

    .row:first-child{
      border-top:2px solid #555;
    }
  }

  .r3-c3 {

  }

  .r3-c4 {

  }

  .r3-c5 {

  }

  .r3-c6 {

  }

  .testimonials{

    p{
text-align:left;
    }
  }

  /*===================================================

  Row 4 Responsive

  =====================================================*/
  .mobile-danger-zone{
    height:200px;
    background-image:url('../../assets/images/adaptive/nrs-new-group-s.jpg');
    background-size:100% 100%;
    width:100%;
    background-repeat:no-repeat;
  }

  .r4 {

  }

  .r4-c1 {

  }

  .r4-c2 {
    border:none;
  }

  .r4-c3 {

  }

  .r4-c4 {

  }

  .r4-c5 {

  }

  .r4-c6 {

  }

  .r4-a2 p{
    line-height: 1.5rem;
  }


  .r4-a img{
    display:block;
    margin:0 auto;
  }
  /*===================================================

  Row 5 Responsive

  =====================================================*/
  .r5 {
    border:none;
    padding:0 15px;

    p{

    }
  }

  .r5 .columns{
    
  }

  html .r5 .r5-c1 {
    border-bottom:none;

  }

  .r5-c1{
    width:100%;

    img{
      width:100%;
    }
  }

  .r5-c1 h4{
    font-size:1.7rem;
  }

  .r5-c2 {
    text-align:left;
  }

  .r5-c3 {

  }

  .r5-c4 {

  }

  .r5-c5 {

  }

  .r5-c6 {

  }

  /*===================================================

  Row 6 Responsive

  =====================================================*/
  .r6 {

.mapLinks{ 
width:inherit;
} 
  }

  html .r6 .r6-c1{
    margin-top:0; 
  }

  .r6 .columns{
    margin-top:15px;
  }

  .r6-c1 {

  }

  .r6-c2 {

  }

  .r6-c3 {

  }

  .r6-c4 {

  }

  .r6-c5 {

  }

  .r6-c6 {

  }

  /*===================================================

  Row 7 Responsive

  =====================================================*/
  .r7 {

  }

  .r7-c1 {

  }

  .r7-c2 {

  }

  .r7-c3 {

  }

  .r7-c4 {

  }

  .r7-c5 {

  }

  .r7-c6 {

  }

  .footer{
    text-shadow:none;
    color:#000;

    a{color:$col-1;
      border-bottom:2px solid $col-1}
  }

}

/*===================================================

  Vertical phone fine-tuning

  =====================================================*/
@media (max-width:380px){
  .r3-r1 h5{
    padding:2px 0;
    text-align:left;
  }
}

@media (min-width:1024px){
  .info-region .sl-cta a{
    margin-left:8px;
  }


}



/*===================================================

  Callbar Styling

  =====================================================*/
.mob-c2a {
  background-color: #222222;
  border-top: solid 1px #E6E6E6;
  z-index: 100;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0; }

.mob-c2a .row {
  background-color: transparent; }

li.cb-headline {
  font-size: 200%;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 1px; }

a.mob-call {
  padding: 10px; }

li.bc-subhead {
  color: darkgrey; }

p.cb-headline {
  font-size: 200%;
  font-weight: 600;
  font-style: italic;
  color: #fff; }

p.bc-subhead {
  color: darkgrey; }

.mob-c2a ul {
  width: 100%;
  padding: 0.5em 0;
  margin: 0;
  line-height: 1; }

.mob-c2a li {
  vertical-align: middle;
  text-align: center;
  list-style: none;
  display: list-item; }

.mob-c2a li span {
  margin-top: 0.5em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px; }

.mob-c2a li a, .mob-c2a li button {
  display: block;
  padding: 0.5em 1%;
  line-height: 1em;
  border: none;
  margin: 0;
  color: #F2F2F2;
  width: 100%;
  font-size: 1em;
  background-color: #222222;
  outline: none; }
